* {
  margin: 0;
}
a {
  color: white;
}
.topnav { 
  background-color: rgb(237, 242, 245);
  overflow: hidden;
}
/* Recieved styling and code inspiration from https://www.w3schools.com/css/css_navbar.asp */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

.topnav a:hover {
  background-color: rgb(221,60,68);
  color: black;
}

#container {
  background-image: url("images/redwave.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
}
#container2 {
  background: #2b2d42;
  width:100%;
  height:75vh;
}
#background {
width:350px;
height:200px;
display: block;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}
/* Recieved animation tips and coding inspiration from https://learn.shayhowe.com/advanced-html-css/transitions-animations/ */
#button {
border: 0;
  background: #2b2d42;
  border-radius: 4px;
  box-shadow: 0 5px 0 #1c1d2b;
  color: #fff;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
  padding: 1rem 4rem;
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

#button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.contact {
  width: 20em;
  height:7em;
  margin-left:4em;
  margin-top:2em;
  margin-bottom:2em;
  display: inline-block;
}

.social {
  width: 8em;
  height:8em;
  margin-top:2em;
  margin-bottom:2em;
  margin-left:4em;
  display: inline-block;
}

.contacttext {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 35px;
  margin-left:50px;
}
/* Used https://grid.layoutit.com/ to create the grid */
.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". text-goes-here ."
    ". text-goes-here ."
    ". text-goes-here .";
}

.text-goes-here { grid-area: text-goes-here; }

h2 {
  margin-top: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

ul {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

ol {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.people {
  width: 260px;
  height:550px;
  display: inline-block;
  margin-left: 70px;
}

#blood {
  width:100%;
  height:8em;
}

blockquote {
	width: 80%;
	margin: 2em auto;
	font-style: italic;
	padding: 1em 2em;
	border-left: 8px solid red;
	font-size: 1em;
	line-height: 1.4;
	position: relative;
	background: #ededed;
  font-family: 'Montserrat', sans-serif;
}

#critera {
  width:100%;
}

#box {
  width: 85%;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
}
label {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

input {
  margin-left:auto;
  margin-right:auto;
}

#button1 {
border: 0;
  background: #2b2d42;
  border-radius: 4px;
  box-shadow: 0 5px 0 #1c1d2b;
  color: #fff;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
  padding: 1rem 4rem;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#button1:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#button2 {
border: 0;
  background: #2b2d42;
  border-radius: 4px;
  box-shadow: 0 5px 0 #1c1d2b;
  color: #fff;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 15px;
  margin-left:8%;
}

#button2:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#button2:first-of-type {
  background: red;
  box-shadow: 0 5px 0 rgb(117, 2, 2);
}

input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 10px);
  padding: 5px;
}
.eligible {
  width:10%;
}

.contactform {
  margin-top:10px;
  margin-bottom:10px;
}

@media screen and (max-width: 768px){ /* Media query for mainly mobile devices */
  .contact {
  width: 160px;
  height: 50px;
  margin-left: 10px;
  }
   .social {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-left: 10px;
  }
  .contacttext {
    margin-left: 10px;
    font-size: 35px;
  }
   #container2 {
  height:80vh;
  }
  .people {
    margin-left:1px;
  }
  #box {
    margin:0px;
  }
}